extends layout.pug

block head
    link(rel="stylesheet", href="/css/countries.css")

block content
    -
        const form = {
            sortBy: [
                { label: "Population Descending", value: "Pop_Desc" },
                { label: "Population Ascending", value: "Pop_Asc" },
            ]
        }

        const getSortBy  = () => options.sortby;

    .container
        article.panel(id="panel-options")
            p.panel-heading Filters & Sorting
            form(id="main-form", action="/cities", method="GET")
                div.panel-block
                    div.field
                        label.label Sort By
                        div.control
                            div.select
                                select(name="sortby", onchange='handleChange()')
                                    each opt in form.sortBy
                                        - const { label, value } = opt;
                                        option(value=value, selected = value === getSortBy()) #{label}

                div.panel-block
                    button.button(role="submit", class="is-link is-outlined") Apply

        article.panel(id="panel-data")
            p.panel-heading Data
            div.panel-block(id="panel-block-table")
                table.table
                    thead
                        th #
                        th Name
                        th Country Code
                        th District
                        th Population
                    tbody
                        each city, index in cities
                            tr
                                td(data-type="number") #{index + 1}
                                td #{city.Name}
                                td #{city.CountryCode}
                                td #{city.District}
                                td(data-type="number")= Intl.NumberFormat("en-GB").format(city.Population)